Repository us-ferferga/decide, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, authentication, store, booth, census, mixnet, postproc, visualizer, voting, base, tests

.github/labeler.yml:

ci:
  - '.github/**/**'

authentication:
  - 'decide/authentication/**/**'

store:
  - 'decide/store/**/**'

booth:
  - 'decide/booth/**/**'

census:
  - 'decide/census/**/**'

mixnet:
  - 'decide/mixnet/**/**'

postproc:
  - 'decide/postproc/**/**'

visualizer:
  - 'decide/visualizer/**/**'

voting:
  - 'decide/voting/**/**'

base:
  - 'decide/base/**/**'

tests:
  - any:
      [
        'decide/**/tests.py',
        'decide/**/*test*'
      ]

style(social-authentication): remove unused commented line
  decide/authentication/views.py
Labels: authentication

feat(social-authentication): add and configure django-allauth package
  decide/decide/settings.py
  decide/decide/urls.py
Labels: none

feat(social-authentication): add allauth to requirements.txt
  requirements.txt
Labels: none

feat(social-authentication): add github authentication to booth
  decide/authentication/urls.py
  decide/authentication/views.py
  decide/booth/templates/booth/booth.html
Labels: authentication, booth

feat(social-authentication): add and configure django-allauth package
  decide/decide/settings.py
  decide/decide/urls.py
Labels: none

feat(social-authentication): add allauth to requirements.txt
  requirements.txt
Labels: none

style(social-authentication): remove unused commented line
  decide/authentication/views.py
Labels: authentication

feat(social-authentication): add github authentication to booth
  decide/authentication/urls.py
  decide/authentication/views.py
  decide/booth/templates/booth/booth.html
Labels: authentication, booth

chore(booth/frontend): finish project scaffolding
  decide/booth/frontend/.eslintrc.cjs
  decide/booth/frontend/main.ts
  decide/booth/frontend/package.json
  decide/booth/frontend/src/components/View/PageView.vue
  decide/booth/frontend/src/components/View/RootView.vue
  decide/booth/frontend/src/components/View/SuspenseView.vue
  decide/booth/frontend/src/components/View/TransitionView.vue
  decide/booth/frontend/src/layouts/default.vue
  decide/booth/frontend/src/pages/index.vue
  decide/booth/frontend/src/plugins/router/index.ts
  decide/booth/frontend/src/plugins/router/middlewares/meta.ts
  decide/booth/frontend/src/store/globals.ts
  decide/booth/frontend/types/global/attributes.d.ts
  decide/booth/frontend/types/global/components.d.ts
  decide/booth/frontend/types/global/environment.d.ts
  decide/booth/frontend/types/global/plugins.d.ts
  decide/booth/frontend/types/global/routes.d.ts
  decide/booth/frontend/vite.config.ts
  package-lock.json
Labels: booth

chore(booth/frontend): finish project scaffolding (#21)
  decide/booth/frontend/.eslintrc.cjs
  decide/booth/frontend/main.ts
  decide/booth/frontend/package.json
  decide/booth/frontend/src/components/View/PageView.vue
  decide/booth/frontend/src/components/View/RootView.vue
  decide/booth/frontend/src/components/View/SuspenseView.vue
  decide/booth/frontend/src/components/View/TransitionView.vue
  decide/booth/frontend/src/layouts/default.vue
  decide/booth/frontend/src/pages/index.vue
  decide/booth/frontend/src/plugins/router/index.ts
  decide/booth/frontend/src/plugins/router/middlewares/meta.ts
  decide/booth/frontend/src/store/globals.ts
  decide/booth/frontend/types/global/attributes.d.ts
  decide/booth/frontend/types/global/components.d.ts
  decide/booth/frontend/types/global/environment.d.ts
  decide/booth/frontend/types/global/plugins.d.ts
  decide/booth/frontend/types/global/routes.d.ts
  decide/booth/frontend/vite.config.ts
  package-lock.json
Labels: booth

feat(data-visualizer): add two charts and statistics
  decide/decide/urls.py
  decide/visualizer/static/visualizer/graphics.css
  decide/visualizer/templates/graphics.html
  decide/visualizer/templates/graphics/graphics.html
  decide/visualizer/templates/visualizer/visualizer.html
  decide/visualizer/urls.py
  decide/visualizer/views.py
Labels: visualizer

feat(data-visualizer): add table and selector
  decide/visualizer/static/graphics/graphics.css
  decide/visualizer/static/visualizer/graphics.css
  decide/visualizer/templates/graphics/graphics.html
  decide/visualizer/views.py
Labels: visualizer

feat(devcontainer): create devcontainer definition
  .devcontainer/devcontainer.json
  .devcontainer/postunpack.sh
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

feat(devcontainer): create devcontainer definition
  .devcontainer/devcontainer.json
  .devcontainer/postunpack.sh
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

ci(actions): refactor unit tests
  .github/workflows/django.yml
Labels: ci

ci(actions): refactor unit tests (#28)
  .github/workflows/django.yml
Labels: ci

ci(actions): add quality checks
  .github/workflows/automation.yml
  .github/workflows/codeql.yml
  .github/workflows/decide.yml
  .github/workflows/quality-checks.yml
Labels: ci

ci(actions): add quality checks (#29)
  .github/workflows/automation.yml
  .github/workflows/codeql.yml
  .github/workflows/decide.yml
  .github/workflows/quality-checks.yml
Labels: ci

chore(devcontainer): don't enforce host requirements
  .devcontainer/devcontainer.json
Labels: none

chore(devcontainer): use slim Python image
  .devcontainer/devcontainer.json
Labels: none

test(data-visualizer): add unitary and interface tests
  decide/visualizer/tests.py
  decide/visualizer/urls.py
  decide/visualizer/views.py
Labels: visualizer, tests

fix(data-visualizer): typo error
  decide/visualizer/tests.py
Labels: visualizer, tests

ci: add merge queue support
  .github/workflows/codeql.yml
  .github/workflows/decide.yml
  .github/workflows/quality-checks.yml
Labels: ci

ci: add merge queue support
  .github/workflows/codeql.yml
  .github/workflows/decide.yml
  .github/workflows/quality-checks.yml
Labels: ci

feat(boot): create new viewset [untested]
  decide/booth/templates/old/booth.html
  decide/booth/urls.py
  decide/booth/views.py
Labels: booth

feat(frontend): create page directory layout
  decide/booth/frontend/src/pages/server.vue
Labels: booth

fix(data-visualizer): change chart import to unpkg
  decide/visualizer/templates/graphics/graphics.html
Labels: visualizer

fix(data-visualizer): remove unused imports
  decide/visualizer/urls.py
  decide/visualizer/views.py
Labels: visualizer

test(backend): implement tests
  decide/booth/tests.py
  decide/booth/urls.py
  decide/booth/views.py
Labels: booth, tests

fix(backend): security alerts
  decide/booth/views.py
Labels: booth

feat(booth/frontend): create server selection and voting sections
  .vscode/settings.json
  decide/booth/frontend/.eslintrc.cjs
  decide/booth/frontend/knip.ts
  decide/booth/frontend/main.ts
  decide/booth/frontend/package.json
  decide/booth/frontend/src/components/View/PageView.vue
  decide/booth/frontend/src/components/View/RootView.vue
  decide/booth/frontend/src/components/View/TransitionView.vue
  decide/booth/frontend/src/index.css
  decide/booth/frontend/src/layouts/default.vue
  decide/booth/frontend/src/main.ts
  decide/booth/frontend/src/pages/index.vue
  decide/booth/frontend/src/pages/voting/[id]/answer.vue
  decide/booth/frontend/src/pages/voting/[id]/ended.vue
  decide/booth/frontend/src/pages/voting/[id]/login.vue
  decide/booth/frontend/src/pages/voting/[id]/thankyou.vue
  decide/booth/frontend/src/pages/voting/index.vue
  decide/booth/frontend/src/plugins/quasar/material-icons.ts
  decide/booth/frontend/src/plugins/router/index.ts
  decide/booth/frontend/src/store/globals.ts
  decide/booth/frontend/tsconfig.json
  decide/booth/frontend/types/global/components.d.ts
  decide/booth/frontend/types/global/routes.d.ts
  decide/booth/frontend/vite.config.ts
  package-lock.json
Labels: booth

feat(booth/frontend): finish implementation of voting
  decide/booth/frontend/.eslintrc.cjs
  decide/booth/frontend/index.html
  decide/booth/frontend/public/static/favicon.ico
  decide/booth/frontend/public/static/robots.txt
  decide/booth/frontend/src/components/View/TransitionView.vue
  decide/booth/frontend/src/layouts/default.vue
  decide/booth/frontend/src/main.ts
  decide/booth/frontend/src/pages/index.vue
  decide/booth/frontend/src/pages/voting/[id]/answer.vue
  decide/booth/frontend/src/pages/voting/[id]/ended.vue
  decide/booth/frontend/src/pages/voting/[id]/login.vue
  decide/booth/frontend/src/pages/voting/[id]/thankyou.vue
  decide/booth/frontend/src/pages/voting/index.vue
  decide/booth/frontend/src/store/globals.ts
  decide/booth/frontend/types/global/components.d.ts
Labels: booth

test(frontend): add tests
  decide/booth/frontend/package.json
  decide/booth/frontend/src/main.ts
  decide/booth/frontend/src/plugins/quasar/index.ts
  decide/booth/frontend/src/store/globals.ts
  decide/booth/frontend/test/components/View/TransitionView.test.ts
  decide/booth/frontend/tsconfig.json
  package-lock.json
Labels: booth

fix(booth/frontend): typechecking
  decide/booth/frontend/.eslintrc.cjs
  decide/booth/frontend/knip.ts
  decide/booth/frontend/src/pages/voting/[id]/login.vue
  decide/booth/frontend/src/plugins/quasar/index.ts
  decide/booth/frontend/tests/components/View/TransitionView.test.ts
  decide/booth/frontend/tsconfig.json
  decide/booth/frontend/vite.config.ts
Labels: booth

ci(frontend): add CI checks for frontend
  .github/workflows/quality-checks.yml
Labels: ci

fix(backend): security alerts
  decide/booth/views.py
Labels: booth

test(backend): implement tests
  decide/booth/tests.py
  decide/booth/urls.py
  decide/booth/views.py
Labels: booth, tests

feat(boot): create new viewset [untested]
  decide/booth/templates/old/booth.html
  decide/booth/urls.py
  decide/booth/views.py
Labels: booth

ci(frontend): add CI checks for frontend
  .github/workflows/quality-checks.yml
Labels: ci

feat(booth/frontend): finish implementation of voting
  decide/booth/frontend/.eslintrc.cjs
  decide/booth/frontend/index.html
  decide/booth/frontend/public/static/favicon.ico
  decide/booth/frontend/public/static/robots.txt
  decide/booth/frontend/src/components/View/TransitionView.vue
  decide/booth/frontend/src/layouts/default.vue
  decide/booth/frontend/src/main.ts
  decide/booth/frontend/src/pages/index.vue
  decide/booth/frontend/src/pages/voting/[id]/answer.vue
  decide/booth/frontend/src/pages/voting/[id]/ended.vue
  decide/booth/frontend/src/pages/voting/[id]/login.vue
  decide/booth/frontend/src/pages/voting/[id]/thankyou.vue
  decide/booth/frontend/src/pages/voting/index.vue
  decide/booth/frontend/src/store/globals.ts
  decide/booth/frontend/types/global/components.d.ts
Labels: booth
