Repository us-ferferga/decide, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, authentication, store, booth, census, mixnet, postproc, visualizer, voting, base, tests

feat(frontend): create page directory layout
  decide/booth/frontend/src/pages/server.vue
Labels: booth

fix(booth/frontend): typechecking
  decide/booth/frontend/.eslintrc.cjs
  decide/booth/frontend/knip.ts
  decide/booth/frontend/src/pages/voting/[id]/login.vue
  decide/booth/frontend/src/plugins/quasar/index.ts
  decide/booth/frontend/tests/components/View/TransitionView.test.ts
  decide/booth/frontend/tsconfig.json
  decide/booth/frontend/vite.config.ts
Labels: booth

test(frontend): add tests
  decide/booth/frontend/package.json
  decide/booth/frontend/src/main.ts
  decide/booth/frontend/src/plugins/quasar/index.ts
  decide/booth/frontend/src/store/globals.ts
  decide/booth/frontend/test/components/View/TransitionView.test.ts
  decide/booth/frontend/tsconfig.json
  package-lock.json
Labels: booth

feat(booth/frontend): create server selection and voting sections
  .vscode/settings.json
  decide/booth/frontend/.eslintrc.cjs
  decide/booth/frontend/knip.ts
  decide/booth/frontend/main.ts
  decide/booth/frontend/package.json
  decide/booth/frontend/src/components/View/PageView.vue
  decide/booth/frontend/src/components/View/RootView.vue
  decide/booth/frontend/src/components/View/TransitionView.vue
  decide/booth/frontend/src/index.css
  decide/booth/frontend/src/layouts/default.vue
  decide/booth/frontend/src/main.ts
  decide/booth/frontend/src/pages/index.vue
  decide/booth/frontend/src/pages/voting/[id]/answer.vue
  decide/booth/frontend/src/pages/voting/[id]/ended.vue
  decide/booth/frontend/src/pages/voting/[id]/login.vue
  decide/booth/frontend/src/pages/voting/[id]/thankyou.vue
  decide/booth/frontend/src/pages/voting/index.vue
  decide/booth/frontend/src/plugins/quasar/material-icons.ts
  decide/booth/frontend/src/plugins/router/index.ts
  decide/booth/frontend/src/store/globals.ts
  decide/booth/frontend/tsconfig.json
  decide/booth/frontend/types/global/components.d.ts
  decide/booth/frontend/types/global/routes.d.ts
  decide/booth/frontend/vite.config.ts
  package-lock.json
Labels: booth

feat(data-visualizer): add first graphics from visualizer
  decide/decide/urls.py
  decide/visualizer/static/visualizer/graphics.css
  decide/visualizer/templates/graphics.html
  decide/visualizer/templates/visualizer/visualizer.html
  decide/visualizer/urls.py
  decide/visualizer/views.py
Labels: visualizer

feat(data-visualizer): add first graphics from visualizer
  decide/decide/urls.py
  decide/visualizer/static/visualizer/graphics.css
  decide/visualizer/templates/graphics.html
  decide/visualizer/templates/visualizer/visualizer.html
  decide/visualizer/urls.py
  decide/visualizer/views.py
Labels: visualizer

fix(data-visualizer): remove unused imports
  decide/visualizer/urls.py
  decide/visualizer/views.py
Labels: visualizer

fix(data-visualizer): change chart import to unpkg
  decide/visualizer/templates/graphics/graphics.html
Labels: visualizer

feat(data-visualizer): add table and selector
  decide/visualizer/static/graphics/graphics.css
  decide/visualizer/static/visualizer/graphics.css
  decide/visualizer/templates/graphics/graphics.html
  decide/visualizer/views.py
Labels: visualizer

test(data-visualizer): add unitary and interface tests
  decide/visualizer/tests.py
  decide/visualizer/urls.py
  decide/visualizer/views.py
Labels: visualizer, tests

fix(data-visualizer): typo error
  decide/visualizer/tests.py
Labels: visualizer, tests

feat(data-visualizer): add two charts and statistics
  decide/decide/urls.py
  decide/visualizer/static/visualizer/graphics.css
  decide/visualizer/templates/graphics.html
  decide/visualizer/templates/graphics/graphics.html
  decide/visualizer/templates/visualizer/visualizer.html
  decide/visualizer/urls.py
  decide/visualizer/views.py
Labels: visualizer

refactor(booth/frontend): vite output with simpler tree for django deployment
  decide/booth/.gitignore
  decide/booth/frontend/index.html
  decide/booth/frontend/public/static/new/favicon.ico
  decide/booth/frontend/public/static/new/robots.txt
  decide/booth/frontend/vite.config.ts
  decide/booth/templates/new/.keep
Labels: booth

refactor(frontend): minor improvements
  decide/booth/frontend/src/layouts/default.vue
  decide/booth/frontend/src/pages/index.vue
  decide/booth/frontend/src/pages/voting/[id]/answer.vue
  decide/booth/frontend/src/pages/voting/[id]/ended.vue
  decide/booth/frontend/src/pages/voting/[id]/login.vue
  decide/booth/frontend/src/pages/voting/index.vue
  decide/booth/frontend/src/store/globals.ts
Labels: booth

chore(frontend/booth): create documentation and deploy script
  decide/booth/README.md
  decide/booth/deploy_frontend.sh
Labels: booth

chore(frontend/booth): create documentation and deploy script
  decide/booth/README.md
  decide/booth/deploy_frontend.sh
Labels: booth

refactor(frontend): minor improvements
  decide/booth/frontend/src/layouts/default.vue
  decide/booth/frontend/src/pages/index.vue
  decide/booth/frontend/src/pages/voting/[id]/answer.vue
  decide/booth/frontend/src/pages/voting/[id]/ended.vue
  decide/booth/frontend/src/pages/voting/[id]/login.vue
  decide/booth/frontend/src/pages/voting/index.vue
  decide/booth/frontend/src/store/globals.ts
Labels: booth

refactor(booth/frontend): vite output with simpler tree for django deployment
  decide/booth/.gitignore
  decide/booth/frontend/index.html
  decide/booth/frontend/public/static/new/favicon.ico
  decide/booth/frontend/public/static/new/robots.txt
  decide/booth/frontend/vite.config.ts
  decide/booth/templates/new/.keep
Labels: booth

fix(frontend): add end slashes to urls
  decide/booth/frontend/src/pages/voting/[id]/answer.vue
Labels: booth

refactor(docker): uniformize setup
  .dockerignore
  decide/booth/deploy_frontend.sh
  docker/Dockerfile
  docker/Dockerfile-nginx
  docker/docker-nginx.conf
  docker/docker-settings.py
  packaging/docker/Dockerfile
  packaging/docker/README.md
  packaging/docker/contents/docker-settings.py
  packaging/docker/contents/entrypoint.sh
  packaging/docker/contents/postunpack.sh
  packaging/docker/contents/prebuild.sh
  packaging/docker/contents/run.sh
  packaging/docker/contents/setup.sh
  packaging/docker/docker-compose.yml
Labels: booth

ci(docker): publish Docker images
  .github/workflows/decide.yml
Labels: ci

fix(frontend): add end slashes to urls
  decide/booth/frontend/src/pages/voting/[id]/answer.vue
Labels: booth

ci(docker): publish Docker images
  .github/workflows/decide.yml
Labels: ci

refactor(docker): uniformize setup
  .dockerignore
  decide/booth/deploy_frontend.sh
  docker/Dockerfile
  docker/Dockerfile-nginx
  docker/docker-nginx.conf
  docker/docker-settings.py
  packaging/docker/Dockerfile
  packaging/docker/README.md
  packaging/docker/contents/docker-settings.py
  packaging/docker/contents/entrypoint.sh
  packaging/docker/contents/postunpack.sh
  packaging/docker/contents/prebuild.sh
  packaging/docker/contents/run.sh
  packaging/docker/contents/setup.sh
  packaging/docker/docker-compose.yml
Labels: booth

feat(booth/frontend): cambiar color a rojo
  decide/booth/frontend/src/pages/voting/[id]/login.vue
Labels: booth

.github/labeler.yml:

ci:
  - '.github/**/**'

authentication:
  - 'decide/authentication/**/**'

store:
  - 'decide/store/**/**'

booth:
  - 'decide/booth/**/**'

census:
  - 'decide/census/**/**'

mixnet:
  - 'decide/mixnet/**/**'

postproc:
  - 'decide/postproc/**/**'

visualizer:
  - 'decide/visualizer/**/**'

voting:
  - 'decide/voting/**/**'

base:
  - 'decide/base/**/**'

tests:
  - any:
      [
        'decide/**/tests.py',
        'decide/**/*test*'
      ]
